<a href="https://colab.research.google.com/github/JimKing100/DS-Unit-3-Sprint-1-Software-Engineering/blob/master/module1-python-modules-packages-and-environments/module1-assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip uninstall ds_helper

WARNING: Skipping ds-helper as it is not installed.

In [0]:
!pip install --index-url https://test.pypi.org/simple/ ds_helper

Looking in indexes: https://test.pypi.org/simple/
Collecting ds_helper
  Downloading https://test-files.pythonhosted.org/packages/5c/1b/f2423ab27da647c75281fcc5a7ee5b88406eb8d6cd3c8ec2bf1c43f998a7/ds_helper-0.1.8-py3-none-any.whl
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from ds_helper) (0.25.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from ds_helper) (1.17.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->ds_helper) (2.6.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->ds_helper) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas->ds_helper) (1.12.0)
Installing collected packages: ds-helper
Successfully installed ds-helper-0.1.8

In [0]:
#import ds_helper_data as ds
#import ds_helper_data.df_utils

#ds.df_utils.TEST_DF

In [0]:
from ds_helper_data import df_utils

df_utils.TEST_DF

   0
0  1
1  2
2  3

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/DS-Unit-3-Sprint-1-Software-Engineering/master/module1-python-modules-packages-and-environments/drink_test.csv')

df.head()

       country  beer_servings  ...  region          sub-region
0  Afghanistan              0  ...    Asia       Southern Asia
1      Albania             89  ...  Europe     Southern Europe
2      Algeria             25  ...  Africa     Northern Africa
3      Andorra            245  ...  Europe     Southern Europe
4       Angola            217  ...  Africa  Sub-Saharan Africa

[5 rows x 7 columns]

In [0]:
def nulls(df):
  columns = list(df)
  col_num = 0
  print('Nulls by Column')

  for i in columns:
    print(columns[col_num], df[i].isna().sum())
    col_num = col_num + 1
    
nulls(df)

Nulls by Column
country 0
beer_servings 0
spirit_servings 0
wine_servings 0
total_litres_of_pure_alcohol 0
region 26
sub-region 26

In [0]:
df_utils.nulls(df)

Nulls by Column
country 0
beer_servings 0
spirit_servings 0
wine_servings 0
total_litres_of_pure_alcohol 0
region 26
sub-region 26

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/DS-Unit-3-Sprint-1-Software-Engineering/master/module1-python-modules-packages-and-environments/MarinSalesJanJune2019.csv')

df.head()

   ML Number Display Area Display  ... Listing Price Selling Price
0           21911291      Fairfax  ...       775,000       760,000
1           21830231      Fairfax  ...       799,000       823,000
2           21906144      Fairfax  ...     1,849,000     1,900,000
3           21911033      Fairfax  ...     1,997,000     1,980,000
4           21900528      Fairfax  ...     1,199,000     1,210,000

[5 rows x 10 columns]

In [0]:
# from datetime import datetime

# def date_conv(df, col):
#   df[col] = pd.to_datetime(df[col], infer_datetime_format=True)
#   col_year = col + '_year'
#   col_month = col + '_month'
#   col_day = col + '_day'
#   df[col_year] = df[col].dt.year
#   df[col_month] = df[col].dt.month
#   df[col_day] = df[col].dt.day
#   return df
  
# df = date_conv(df, 'Listing Date')

# df.head()

In [0]:
df_utils.date_conv(df, 'Listing Date')

df.head()

   ML Number Display Area Display  ... Listing Date_month Listing Date_day
0           21911291      Fairfax  ...                  5                8
1           21830231      Fairfax  ...                 12                2
2           21906144      Fairfax  ...                 10               29
3           21911033      Fairfax  ...                  4               29
4           21900528      Fairfax  ...                  1                9

[5 rows x 13 columns]

In [0]:
def state_conv(st_abbrev):

  us_state_abbrev = {
    'Alabama': 'AL',
    'Alaska': 'AK',
    'Arizona': 'AZ',
    'Arkansas': 'AR',
    'California': 'CA',
    'Colorado': 'CO',
    'Connecticut': 'CT',
    'Delaware': 'DE',
    'District of Columbia': 'DC',
    'Florida': 'FL',
    'Georgia': 'GA',
    'Hawaii': 'HI',
    'Idaho': 'ID',
    'Illinois': 'IL',
    'Indiana': 'IN',
    'Iowa': 'IA',
    'Kansas': 'KS',
    'Kentucky': 'KY',
    'Louisiana': 'LA',
    'Maine': 'ME',
    'Maryland': 'MD',
    'Massachusetts': 'MA',
    'Michigan': 'MI',
    'Minnesota': 'MN',
    'Mississippi': 'MS',
    'Missouri': 'MO',
    'Montana': 'MT',
    'Nebraska': 'NE',
    'Nevada': 'NV',
    'New Hampshire': 'NH',
    'New Jersey': 'NJ',
    'New Mexico': 'NM',
    'New York': 'NY',
    'North Carolina': 'NC',
    'North Dakota': 'ND',
    'Northern Mariana Islands':'MP',
    'Ohio': 'OH',
    'Oklahoma': 'OK',
    'Oregon': 'OR',
    'Palau': 'PW',
    'Pennsylvania': 'PA',
    'Puerto Rico': 'PR',
    'Rhode Island': 'RI',
    'South Carolina': 'SC',
    'South Dakota': 'SD',
    'Tennessee': 'TN',
    'Texas': 'TX',
    'Utah': 'UT',
    'Vermont': 'VT',
    'Virgin Islands': 'VI',
    'Virginia': 'VA',
    'Washington': 'WA',
    'West Virginia': 'WV',
    'Wisconsin': 'WI',
    'Wyoming': 'WY',
  }

  abbrev_us_state = dict(map(reversed, us_state_abbrev.items()))

  if len(st_abbrev) == 2:
    try:
      return_value = abbrev_us_state[st_abbrev]
    except KeyError:
      return_value = "NA"
  else:
    try:
      return_value = us_state_abbrev[st_abbrev]
    except KeyError:
      return_value = "NA" 

  return return_value

print(state_conv('WX'))

NA

In [0]:
print(df_utils.state_conv('Washington'))

WA