<a href="https://colab.research.google.com/github/JimKing100/DS-Unit-3-Sprint-1-Software-Engineering/blob/master/module1-python-modules-packages-and-environments/module1-assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#!pip uninstall ds_helper

In [2]:
!pip install --index-url https://test.pypi.org/simple/ ds_helper

Looking in indexes: https://test.pypi.org/simple/
Requirement already satisfied: ds_helper in /usr/local/lib/python3.6/dist-packages (0.1.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from ds_helper) (1.17.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from ds_helper) (0.25.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->ds_helper) (2.6.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->ds_helper) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas->ds_helper) (1.12.0)

In [0]:
#import ds_helper_data as ds
#import ds_helper_data.df_utils

#ds.df_utils.TEST_DF

In [4]:
from ds_helper_data import df_utils

df_utils.TEST_DF

   0
0  1
1  2
2  3

In [0]:
import pandas as pd

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/JimKing100/DS-Unit-3-Sprint-1-Software-Engineering/master/module1-python-modules-packages-and-environments/drink_test.csv')

df.head()

       country  beer_servings  ...  region          sub-region
0  Afghanistan              0  ...    Asia       Southern Asia
1      Albania             89  ...  Europe     Southern Europe
2      Algeria             25  ...  Africa     Northern Africa
3      Andorra            245  ...  Europe     Southern Europe
4       Angola            217  ...  Africa  Sub-Saharan Africa

[5 rows x 7 columns]

In [7]:
def NULLS(df):
  columns = list(df)
  col_num = 0
  print('Nulls by Column')

  for i in columns:
    print(columns[col_num], df[i].isna().sum())
    col_num = col_num + 1
    
NULLS(df)

Nulls by Column
country 0
beer_servings 0
spirit_servings 0
wine_servings 0
total_litres_of_pure_alcohol 0
region 26
sub-region 26

In [8]:
df_utils.NULLS(df)

Nulls by Column
country 0
beer_servings 0
spirit_servings 0
wine_servings 0
total_litres_of_pure_alcohol 0
region 26
sub-region 26