<a href="https://colab.research.google.com/github/JimKing100/DS-Unit-3-Sprint-1-Software-Engineering/blob/master/module1-python-modules-packages-and-environments/module1-assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install --index-url https://test.pypi.org/simple/ ds_helper

Looking in indexes: https://test.pypi.org/simple/
Collecting ds_helper
  Downloading https://test-files.pythonhosted.org/packages/70/63/15bd3f12633d9d4af2feb0b00f5c5a923f59a457acbe56ac6655e02b2192/ds_helper-0.1.1-py3-none-any.whl
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from ds_helper) (1.17.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from ds_helper) (0.25.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->ds_helper) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->ds_helper) (2.6.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas->ds_helper) (1.12.0)
Installing collected packages: ds-helper
Successfully installed ds-helper-0.1.1

In [0]:
#import ds_helper_data as ds
#import ds_helper_data.df_utils

#ds.df_utils.TEST_DF

In [20]:
from ds_helper_data import df_utils

df_utils.TEST_DF

   0
0  1
1  2
2  3

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('../data/renthop-nyc.csv')